@import "./footer.css";
@import "./cart.css";
@import "./benefits.css";
@import "./hero.css";
@import "./site-wide-deals.css";
@import "./vip-exclusive.css";
@import "./trending.css";
@import "./new-in.css";
@import "./recently-bought.css";
@import "./insta.css";
@import "./newsletter.css";

body {
    margin: 0;
    font-family: 'Montserrat' !important;
}

.navbar {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-left a {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    padding: 9px 15px;
    text-transform: uppercase;

    &.active {
        font-weight: 600;
    }
}

.mobile-navbar-menus {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: #000000;
    padding: 9px 15px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;

    &.active {
        font-weight: 600;
    }
}

.navbar-logo {
    text-align: center;
    padding: 14px 0;
}

.navbar-right {
    float: right;
    display: flex;
    align-items: center;

    & a {
        color: white;
        text-decoration: none;
    }
}

.navbar-dropdown {
    width: 110px;
    height: 35px;
    border: 1px solid #f2f2f2;
    border-radius: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    padding-left: 10px;

    & p {
        padding: 15px 0px 0px 4px;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.navbar-dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .navbar a,
    .navbar-icons {
        float: none;
        text-align: center;
        width: 100%;
    }

    .navbar-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-logo {
        padding: 14px 16px;
    }

    .navbar-dropdown {
        display: block;
    }
}
.nav-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.nav__cart-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.nav__cart-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 280px;
    max-height: 555px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
}

.nav__cart-dropdown:hover .nav__cart-items {
    display: block;
}

.nav__cart-item {
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.nav__item-image {
    max-width: 80px;
    max-height: 100px;
}

.nav__cart-details {
    font-size: 12px;

    & p {
        font-size: 18px;
        font-weight: 600;
    }
}

.nav__cart-total {
    display: flex;
    justify-content: space-between;
}

.nav__checkout {
    border: none;
    border-radius: 0px;
    height: 60px;
    width: 100%;
    background: #000000;
    color: #FFFFFF;
}

.flexbox{
    display: flex;
    justify-content: space-between;
}