.swd__main-container {
    height: 150px;
    width: 100%;
    padding: 50px 70px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.swd__list-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0px 30px !important;
}

.swd__sale {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swd__dollar {
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0px 5px 0px 0px;
}

.swd__off {
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0px 0px 0px 5px;
}

.swd__tagline {
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    margin-bottom: 0px !important;
}

.swd__check-more {
    border: none;
    width: 350px;
    background: #000000;
    width: 363px;
    height: 42px;
    padding: 10px 20px 10px 20px;
    gap: 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
}

