.newsletter__main-container {
    height: 75px;
    max-height: 75px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    background: #000000;
    padding: 0px 115px;
}

.newsletter__header {
    display: flex;
    font-size: 32px;
    font-weight: 800;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
    align-items: center;
}

.newsletter__content-cointainer {
    width: 100%;
}

.newsletter__email-address {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    border: none !important;
    background: #F2F2F2 !important;
    border-radius: 0px !important;
}

.newsletter__placeholder::placeholder {
    color: #4d4d4d;
}

.position-relative::before {
    content: "";
    position: absolute;
    padding: 15px;
    right: 0px;
    top: 0;
    bottom: 0;
    width: 40px;
    background: url("../../assets/newsletter/right-outlined.svg") center / contain no-repeat;
    background-color: #FFFFFF;
    height: 100%;
}
